@import '../../../global/scss/variables';

.inputWrapper {
  margin-top: 2rem;
  position: relative;
}

.input {
  height: 3.5rem; 
  width: 100%;
  border-radius: 2rem;
  border: none;
  box-shadow: 8px 3px 40px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  padding-left: 2rem;
  font-family: 'lato';
  font-style: italic;
  outline: none;
}

.searchBtn {
  color: $color-white;
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2.2rem;
  width: 2.2rem;
  background-color: $color-green;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
