@import '../../../global/scss/variables';

.plantWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media (min-width: $tiny-screen) {
    min-height: calc(100vh - 8rem);
  }
}

.image {
  width: 100%;
  height: 15rem;
  background-color: $color-grey;
  
  @media (min-width: $tiny-screen) {
    height: 20rem;
    width: 30rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plantNameWrapper {
  & > h1 {
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.fondoWrapper {
  position: relative;
  min-height: 15rem;
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.imgWrapper {
  width: calc(25%);
  cursor: grab;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:nth-child(3) {
    margin-top: 3rem;
  }

  &:nth-child(3) {
    margin-top: 6rem;
  }

  img {
    width: 100%;
  }
}


.fondo {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.2s;
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  border-left: 1px solid #909090;
  opacity: 0.3;
  height: 100%;
  margin-top: 2rem;

  div {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.2s;
    width: 100%;
    border-right: 1px solid #cacaca;
  }
}
