@import '../../../global/scss/variables';

.plantWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 14.5rem);
  margin-bottom: 7rem;

  @media (min-width: $small-screen) {
    margin-bottom: initial;
    min-height: calc(100vh - 8rem);
  }
}

.image {
  width: 100%;
  height: 15rem;
  background-color: $color-grey;

  
  @media (min-width: $tiny-screen) {
    height: 20rem;
    width: 30rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plantNameWrapper {
  & > h1 {
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.imagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @media (min-width: $small-screen) {
    flex-direction: row;
  }
}

.imgWrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  @media (min-width: $small-screen) {
    width: calc(33% - 8rem);
    
    &:not(:last-child) {
      margin-right: 3rem;
    }

    &:nth-of-type(even) {
      margin-top: 6rem;
    }
  }

  img {
    transition: transform .288s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    width: 100%;
  }

  &:hover {
    img {
      transition: transform .288s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      cursor: pointer;
      filter: grayscale(0);
      transform: scale(1.02);
    }
  }
}

.infosWrapper {
  width: 100%;
  display: flex;
  align-items: center;

  h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    margin: auto;
    font-size: 2rem;
  }
}

.img {
  width: 100%;
  margin-top: 3.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $small-screen) {
    width: 25rem;
  }
}
