@import '../../../global/scss/variables';

.layout {
  padding: 0.8rem 1.5rem;

  @media(min-width: $small-screen) {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav {
  font-size: 2.2rem;
  font-family: 'Playfair Display';
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.brandTitle {
  text-align: center;
  cursor: pointer;

  @media(min-width: $small-screen) {
    text-align: left;
  }
}
