@import '../../global/scss/variables';

.illustration {
  width: 18rem;
  margin: 0 auto;
  margin-bottom: 4.5rem;

  @media (min-width: $small-screen) {
    margin: 0;
    margin-right: auto;
    width: 23rem;
  }

  & > :first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  width: 100%;

  @media (min-width: $small-screen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 8rem;

    & > :first-child {
      @media (min-width: $small-screen) {
        margin-right: 2rem;
      }

      @media (min-width: $custom-screen) {
        margin-right: 6rem;
      }
    }

  }
}

.content {
  margin-bottom: 2rem;

  @media (min-width: $small-screen) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
